@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    width:100%;
    height: 100vh;
}
.box{
    position:absolute;
    top:50%;
    left:50%;
    width:450px;
    height:500px;
    transform:translate(-50%,-50%);
    box-shadow: 25px 30px 55px rgba(244, 245, 245, 0.607);
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding:12px 18px;
}
.box .top{
    margin-top:40px;
    width:100%;
    height:40px;
    text-align: center;
}
.box img{
    width:130px;
}
.box .top .hs{
    color:rgb(224, 63, 63);
    font-size: 24px;
}
.box .top .hs span{
    color:rgb(3, 64, 209);
    font-size: 24px;
}
.box .top .hs .nep{
    color: rgb(11, 207, 40);
    font-size: 16px;
}
.box .top .ar{
    font-size: 28px;
}
.box .msg{
    margin-top: 15%;
    padding: 0 28px;
    font-size: 13px;
}
.box .msg .foremail{
    margin:auto;
}
.box .ib{
    margin-top: 4%;
    width:100%;
    height:100px;
}
.box .ib input[type=text], input[type=password]{
    display:block;
    width:80%;
    height:46px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #dadce0;
    padding:8px 12px;
    margin: auto;
    margin-top: 12px;
}
::placeholder{
    font-size: 16px;
}
.box .ib input[type=text]:hover,input[type=password]:hover{
    border:2px solid rgba(0, 0, 255, 0.594);
}
.box form .sub{
    display: flex;
    margin-top: 20%;
    margin-left: 5%;
}
.box form .sub .last{
    font-size: 12px;
    margin-left:4px;
    line-height: 30px;
}
.box form .sub button{
    /* height:32px; */
    margin-left: 14px;
    border-radius: 4px;
    background: rgb(23, 118, 243);
    border:none;
    outline: none;
    color:#fff;
    padding:4px 12px;
    cursor: pointer;
}
.box form .sub button:hover{
    background: rgb(15, 102, 215);
}