@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height:100%;
}


/*create button */
.create {
    position: absolute;
    z-index: -1;
    top: 14%;
    left: 5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width:90%;
}

.create button {
    border: none;
    outline: none;
    padding: 4px 8px;
    background: rgb(64, 134, 225);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
}
.create button:hover {
    background: rgb(50, 108, 184);
}
.create button a{
    text-decoration: none;
    color:#fff;
} 
.create .rev{
    background: rgb(240, 28, 145);
}
.create .rev:hover{
    background: rgb(204, 24, 123);
}



/* data table */
.out {
    width: 100%;
    height:100%;
    user-select: none;
    padding: 4px;
    display: flex;
}
.box{
    width:98%;
    align-items: center;
    justify-content: center;
    margin:20px auto;
    position:absolute;
    top:20%;
    z-index: -1;
}

.box .cont {
    border-collapse: collapse;
    margin: 18px 0;
    font-size: 1em;
    text-align: left;
    width:100%;
    text-align: left;
}

.box .cont td {
    padding: 18px 6px;
}

.box table tbody tr td .post {
    margin: auto;
    border: 2px solid #dad3d382;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    width: 284px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.box .cont .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box .cont tbody tr {
    border-radius: 4px;
}
.box table tbody tr td .post:hover {
    border: 2px solid rgb(201, 209, 213);
    box-shadow: 0 0 16px 8px rgba(132, 132, 132, 0.329);
}

.box table tbody tr td .des {
    padding: 4px;
}

.box table tbody tr td .post .img {
    width: 280px;
    height: 200px;
    display: flex;
    text-align: center;
    margin: auto;
}

.box table tbody tr td .post .wrapper{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box table tbody tr td .post .des button a{
    text-decoration: none;
    color:#fff;
}
.box table tbody tr td .post .wrapper .img{
    width:100%;
    display: block;
    margin: auto;
    color:rgba(221, 210, 210, 0.61);
}
.box table tbody tr td .post .wrapper .vi i:hover {
   font-size: 18px;
}
.box table tbody tr td .post .wrapper .vi i{
    color:rgb(14, 204, 0);
    margin:4px;
    animation: blink 1s linear infinite;
}
@keyframes blink {
    50%{
        opacity:0;
    }   
}
.box table tbody tr td .post .wrapper a{
    text-decoration: none;
    font-size: 12px;
    color:#000;
}
.box table tbody tr td .btn3{
    margin-top: 6px;
    margin-bottom: 6px;
    width: 100px;
    padding: 6px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    background: rgb(207, 33, 3);
    color:#fff;
}

.box table tbody tr td button:hover {
    background: rgb(14, 147, 4);
}


@media (max-width:1280px) and (max-height:800px) {

    .create {
        position: absolute;
        top: 12%;
        left: 4%;
    }

    .box {
        position: absolute;
        top: 16%;
        left: 1%;
    }
}

@media (max-width:1006px) {
    .navi .name p {
        font-size: 20px;
    }

    .navi .name .com {
        font-size: 12px;
    }

    .navi .home {
        position: absolute;
        top: 3px;
        left: 24%;
    }

    .navi .btn {
        position: absolute;
        top: 12px;
        left: 34%;
        width: 200px;
        height: 40px;
    }

    .navi .btn .src {
        width: 190px;
        height: 34px;
    }

    .navi .btn .src input {
        width: 140px;
    }

    .navi .btn .src input i {
        margin-left: 4px;
    }

    .navi .bb {
        position: absolute;
        top: 4px;
        right: 0;
    }

    .navi .mbl {
        display: none;
    }
}

@media (max-width:932px) {
    .navi .name {
        position: absolute;
        top: 3px;
        left: 16%;
    }

    .navi .name p {
        font-size: 20px;
    }

    .navi .name .com {
        font-size: 12px;
    }

    .navi .home {
        position: absolute;
        top: 50px;
        left: 23%;
    }

    .navi .btn {
        position: absolute;
        top: 60px;
        left: 34%;
        width: 360px;
        height: 40px;
    }

    .navi .btn .src {
        width: 350px;
        height: 34px;
    }

    .navi .btn .src input {
        width: 300px;
    }

    .navi .btn .src input i {
        margin-left: 4px;
    }

    .navi .bb {
        position: absolute;
        top: 4px;
        right: 8%;
    }
    .navi{
        height:100px;
    }
}

@media (max-width:842px) {
    .create {
        position: absolute;
        top: 10%;
        left: 4%;
    }

    .box {
        position: absolute;
        top: 14%;
        left: 0;
    }
}

@media (max-width:752px) {
    .create {
        position: absolute;
        top: 10%;
        left: 4%;
    }

    .box {
        position: absolute;
        top: 14%;
        left: 0;
    }
    .upload .details{
        display: block;
        position: absolute;
        top:50%;
        left:25%;
        min-width:260px;
    }
    .upload .details .left{
        margin-top: -40px;
        margin-left: -10px;
    }
    .upload .details .file{
        position: absolute;
        bottom:1.5%;
        left:45%;
    }
    .upload .details .below{
        position: absolute;
        bottom:-15%;
        left:2%;
    }
}

@media (max-width:615px) {

    .create {
        position: absolute;
        top: 16%;
        left: 4%;
    }

    .box {
        position: absolute;
        top: 20%;
        left: 0;
    }
}

@media (max-width:543px) {

    .create {
        position: absolute;
        top: 18%;
        left: 4%;
    }

    .box {
        position: absolute;
        top: 23%;
        left: 0;
    }
    .box .cont{
        min-width: 500px;
    }
}

@media (max-width:471px) {

    .create {
        position: absolute;
        top: 16%;
        left: 4%;
    }

    .box {
        position: absolute;
        top: 20%;
        left: 0;
    }
    .box .cont{
    min-width: 424px;
    }
}

@media (max-width:414px) {

    .create {
        position: absolute;
        top: 16%;
        left: 4%;
    }

    .box {
        position: absolute;
        top: 20%;
        left: 0;
    }

    .box .cont {
        min-width: 400px;
    }
}

@media (max-width:390px) {
    .create {
        position: absolute;
        top: 18%;
        left: 4%;
    }

    .box {
        position: absolute;
        top: 25%;
        left: 0;
    }

    .box .cont {
        min-width: 370px;
        margin-bottom: 30%;
    }
}
@media (max-width:375px) {

    .create {
        position: absolute;
        top: 16%;
        left: 4%;
    }

    .box {
        position: absolute;
        top: 20%;
        left: 0;
    }

    .box .cont {
        min-width: 370px;
        margin-bottom: 30%;
    }
}

@media (max-width:284px) and (max-height:653px) {

    .create {
        position: absolute;
        top: 18%;
        left: 4%;
    }

    .box {
        position: absolute;
        top: 10%;
        left: 0;
    }
    .box .cont{
        min-width: 264px;
    }
    .box .cont .post{
        width:264px;
    }
    .box .cont .post img{
        width:260px;
    }
}